.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-content {
  position: relative;
  width: calc(100% - 230px);
  left: 230px;
  height: calc(100vh - 80px);
  top: 0px;
  overflow: hidden;
  background: linear-gradient(to right bottom, rgb(63, 65, 90), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}
